@import "assets/css/font-awesome.min.css";
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #222;
}
.root {
  width: 100%;
  height: 100%;
}
